
.page-title {
  font-size: 36px;
  font-weight: 600;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.body1 {
  color: var(--mat-sys-primary);
  font-weight: var(--md-sys-typescale-body-medium-weight);
}

.body2 {
  font-weight: var(--md-sys-typescale-body-large-weight);
}