.page-title {
  font-size: 36px;
  font-weight: 600;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.body1 {
  color: var(--mat-sys-primary);
  font-weight: var(--md-sys-typescale-body-medium-weight);
}

.body2 {
  font-weight: var(--md-sys-typescale-body-large-weight);
}

.user-menu {
  padding: 16px 24px;
}

.custom-menu {
  position: absolute;
  top: 100px;
  right: 0px;
  background: white;
  border-radius: 0px 0px 0px 8px;
  padding: 24px 0px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  width: 290px;

  .body1,
  .body2 {
    padding: 0px 80px 0px 24px;
  }
}

.logout-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0px 80px 0px 24px;
  cursor: pointer;
  font-size: var(--md-sys-typescale-body-medium-size);
}
